#circle {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    top: 5px;
    left: 5px;
    z-index: 1;
}
#concentric {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    border: 1px solid #000;
}


div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background: yellow;
    margin: -200px 0 0 -200px;
}

div.container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 34px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 60px;
    z-index: 0;
}

body {
    background: #95c2ee;
    margin: 0;
    padding: 0;
}

#logosh {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background: #000000;
    /*-200 = 1/2 of 400 b/c otherwise centers on top left corner*/
    z-index: -1;
    opacity: 0;
}
