#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
}

#circle {
    width: 30px;
    height: 30px;
    position: absolute;
    background: red;
    border-radius: 50%;
    background-color: red;
    top: 5px;
    left: 5px;
}
