#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
}

#circle {
    width: 10px;
    height: 10px;
    position: absolute;
    background: red;
    border-radius: 50%;
}

